:root {
    --button-main-color: rgb(241, 94, 80);
    --recent-news-title-color: rgb(255, 253, 250); 
    --recent-news-background:  rgb(0, 0, 26); 
    --recent-news-description-color: rgb(197, 198, 206); 
    --recent-news-tag-color: rgb(233, 171, 83); 
    --main-text-color: rgb(93, 95, 121); 
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden ;
}   

.container-page {
    height: 100%;
    width: 70vw;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 80px;
}

.nav-brand {
    margin-left: -7px;
}

.nav-logo {
    width: 50px;
}

.nav-items {
    color: var(--main-text-color); 
    display: flex;
    column-gap: 20px;
    font-size: 15px;
    width: 100%;
    justify-content: end;
    cursor: pointer;
    transition: all .3s;
}

.nav-item{
    cursor: pointer;
    transition: all .3s;
}

.nav-item:hover {
    color: var(--button-main-color);
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main.active {
    filter: grayscale(60%);
}


#important-news-section {
    display: flex;
    column-gap: 17px;
    width: 100%;
    min-height: 390px;
}

#highlighted-news {
    width: 65%;
}

#image-web {
    width: 100%;    
    height: 200px;
    object-fit: cover;
}

.highlighted-news-information {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    width: 100%;
}

#highlighted-news-title {
    font-size: 29px;
    width: 33%;
    font-weight: 800;
}

#highlighted-news-description {
    width: 25vw;
    font-size: 15px;
    line-height: 22px;
    color: var(--main-text-color);
}

.read-more-button {
    background-color: var(--button-main-color);
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;
    width: 150px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin-top: 25px;
    font-size: 10px;
    cursor: pointer;
    transition: all .3s;
}
.read-more-button:hover {    
    background-color: var(--recent-news-background);
}

/*Recent news*/ 

.recent-news {
    background-color:  var(--recent-news-background);
    width: 35%;
    height: auto;
}

#recent-news-tag {
    color: var(--recent-news-tag-color);
    padding: 16px;
    font-size: 25px;
    margin-top: 10px;
}

.recent-news-container {
    display: flex;
    flex-direction: column;
    margin-top: -13px;
    margin-left: 18px;
}

.recent-news-title {
    color: var(--recent-news-title-color); 
    font-size: 15px;
    border-top: 1px solid hsla(233, 8%, 79%, 0.408);
    padding: 15px 0;
    width: 90%;
    cursor: pointer;
    transition: all .3s;
}

.recent-news-title:hover {
    color: var(--recent-news-tag-color);
}

.recent-news-description {
    color: var(--recent-news-description-color);
    font-size: 13px;
    text-align: left;
    margin-top: 0;
    width: 81%;
    line-height: 22px;
    margin-bottom: 20px;
}

/*Most read news section */ 

.most-read-news {
    display: flex;
    height: auto;
    gap: 15px;
}

.first-news, 
.second-news, 
.third-news {
    display: flex;
    column-gap: 30px;
}

.first-news-cover, 
.second-news-cover, 
.third-news-cover {
    width: 40%;
}

.most-read-images {
    width: 120%;
    height: 100%;
    object-fit: cover;
}

.first-news-information, 
.second-news-information, 
.third-news-information {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.news-number {
    color: var(--recent-news-description-color);
    font-size: 25px;
    font-weight: 800;
}

.news-title {
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
}

.news-title:hover{
    color: var(--button-main-color);
}

.news-description {
    color: var(--main-text-color);
    font-size: 13px;
    line-height: 20px;
    width: 87%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--recent-news-background);
    color: white;
    margin: 30px 0 20px 0;
    height: 40px;
    font-size: 14px;
}
#attribution {
    color: var(--recent-news-tag-color);
}